requests==2.32.4  # Voor HTTP-aanroepen naar PoolParty en TriplyDB API
PyYAML==6.0       # Voor het verwerken van YAML-configuratiebestanden
requests==2.32.4  # Voor HTTP-aanroepen naar PoolParty en TriplyDB API
PyYAML==6.0.1       # Voor het verwerken van YAML-configuratiebestanden
